RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ ./redirect.php [L,QSA]

#RewriteCond %{REQUEST_URI} ^/.*\.(json|lock)$ [OR]
#RewriteCond %{REQUEST_URI} ^/vendor/* [OR]
#RewriteCond %{REQUEST_URI} ^/bot/*
#RewriteRule .* - [F]
